.top-article{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.top-article>img{
    width: 57%;
    filter: brightness(0) saturate(100%) invert(49%) sepia(61%) saturate(3091%) hue-rotate(175deg) brightness(99%) contrast(110%);
}
.top-article>p{
    font-family: 'Lemon milk light', sans-serif;
    font-size: 1.1em;
}
.house{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.house>img{
    width: 70%;
}
.bottom-article{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bottom-article>img{
    width: 98%;
    filter: brightness(0) saturate(100%) invert(49%) sepia(61%) saturate(3091%) hue-rotate(175deg) brightness(99%) contrast(110%);
}
.bottom-article>p{
    font-family: 'Lemon milk light', sans-serif;
    font-size: 1.1em;
    padding-left: 45px;
}
.text-article{
    margin-top: 15px;
    font-family: 'Lemon milk light', sans-serif;
    font-size: 1.4em;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}