header{
    height: 25px;
    background-color: var(--bleu);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
}
header>div>h1{
    font-size: 1em;
    padding-left: 10px;
    color: white;
}
header>div>a{
    padding-right: 10px;
}
header>div>a>img{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(278deg) brightness(104%) contrast(102%);
}