section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
section>img{
    position: absolute;
    background: transparent;
    width: 145px;
    right: 749px;
    top: 34px;
    z-index: 0;
    user-select: none;
}
section>h1{
    font-family: 'Lemon milk', sans-serif;
    font-size: 3em;
    margin-top: 35px;
    color: aqua;
}
#bgd{
    display: flex;
    background: transparent;
    background-image: url("../../img/dark_logo_maison.png");
    width: 521px;
    height: 646px;
    background-repeat: no-repeat;
}
#bg{
    z-index: -2;
    width: 600px;
    height: 750px;
}
