section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(180deg, rgb(0, 255, 238), rgb(0, 213, 255) 50%, rgb(0, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
    box-shadow: 1px 1px 5px;
    position: relative;
    z-index: 2;
}
@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}
section>img{
    position: absolute;
    background: transparent;
    width: 145px;
    right: 749px;
    top: 34px;
    z-index: 0;
    user-select: none;
}
.color>h1{
    font-family: 'Lemon milk', sans-serif;
    font-size: 3em;
    margin-top: 35px;
    color: aqua;
    z-index: 0;
    background: black;
}
#bgd{
    display: flex;
    width: 521px;
    height: 646px;
    background: transparent url("../../img/dark_logo_maison.png") no-repeat;
}
#bg{
    background: black;
    z-index: -2;
    width: 500px;
    height: 646px;
}
.color{
    background: black;
    width: 100%;
    z-index: -3;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}