html, body{
    height: 100%;
    background: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
:root{
    --bleu: rgb(0, 162, 255);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Lemon milk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: 'Lemon milk light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/LEMONMILK-Light.otf);
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid white;
}
@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}
nav {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(180deg, rgb(0, 255, 238), rgb(0, 213, 255) 50%, rgb(0, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
    box-shadow: 1px 1px 5px;
    position: relative;
    z-index: 2;
}
nav>.liste>ul {
    display: flex;
    list-style-type: none;
}
nav>.liste>ul>li {
    padding-right: 25px;
}
nav>.liste>ul>li>a {
    font-family: 'Lemon milk light', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 100;

}
nav>.liste>ul>li>a:hover {
    border-bottom: 2px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(180deg, rgb(0, 255, 238), rgb(0, 213, 255) 50%, rgb(0, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
}
.active{
    border-bottom: 2px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(180deg, rgb(0, 255, 238), rgb(0, 213, 255) 50%, rgb(0, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
}
nav>.liste>ul>li>a:first-child{
    margin-left: 25px;
}
nav>.picture>.fr>img {
    width: 40px;
    margin-right: 25px;
    /*    display: none;*/
}
nav>.picture>.en>img {
    display: none;
    margin-right: 25px;
    width: 40px;
}
article{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
.container_agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 900px;
    border-radius: 5px;
    background: #343434;
    margin-bottom: 100px;
}
.agent_img{
    background: url("../../img/Mme  GERALDINE DARMANINE.png");
    background-size: 70%;
    width: 30%;
    height: 40%;
    background-position: center 10%;
    margin-top: 15px;
    clip-path: circle(40%);
}
.container_agent>h1, h2, p{
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.container_agent>h1{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 2.5em;
}
.container_agent>h2{
    margin-bottom: 5px;
    font-size: 1.8em;
}
.container_agent>p{
    font-size: 1.8em;
    margin-bottom: 55px;
}
#btn{
    padding: 15px;
    background: #2c2c2c;
    color: white;
    font-size: 2em;
}
main{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.container_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background: #001723;
}
.container_card>h1{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    font-family: 'Lemon milk light', sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid #ffffff;
}
.container_card>h2{
    margin-bottom: 25px;
    color: #ffffff;
    font-family: 'Lemon milk light', sans-serif;
    font-size: 1.5em;
}
.container_card>p{
    margin-bottom: 15px;
    font-family: 'Lemon milk light', sans-serif;
    font-size: 1em;
    color: #ffffff;
}
.carousel {
    position: relative;
    width: 45%;
    height: 600px;
    overflow: hidden;
    background-color: #cdcdcd;
}
.carousel .carousel-item {
    position: absolute;
    width: 100%;
    height: 600px;
    border: 1px solid #2e2e2e;
    top: 0;
    left: 100%;
}
.carousel .carousel-item.active {
    left: 0;
    transition: all 0.3s ease-out;
}
.carousel .carousel-item div {
    height: 100%;
}
.carousel .carousel-item .red {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .carousel-item .green {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .carousel-item .yellow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel .carousel-item .violet {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid transparent;
    background-image:
            linear-gradient(black, black),
            linear-gradient(180deg, rgb(0, 255, 238), rgb(0, 213, 255) 50%, rgb(0, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 200%;
    background-position: 0 0, 0 100%;
    background-origin: padding-box, border-box;
    animation: highlight 1s infinite alternate;
    position: relative;
    z-index: 2;
}
@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}
section>img{
    position: absolute;
    background: transparent;
    width: 145px;
    right: 749px;
    top: 34px;
    z-index: 0;
    user-select: none;
}
.color>h1{
    font-family: 'Lemon milk', sans-serif;
    font-size: 3em;
    margin-top: 35px;
    color: aqua;
    z-index: 0;
    background: black;
}
#bgd{
    display: flex;
    width: 521px;
    height: 646px;
    background: transparent url("../../img/dark_logo_maison.png") no-repeat;
}
#bg{
    background: black;
    z-index: -2;
    width: 500px;
    height: 646px;
}
.color{
    background: black;
    width: 100%;
    z-index: -3;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.untitre {
    position: relative;
    display: flex;
    
}
.monimage {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    margin-top: 3.5%;
}

.arras {
    font-size: 30px; 
    margin-top: 4%;
    z-index: 1;
    padding-left: 45%;
    opacity: 1;
}

#bien{
    width: 300px;
    font-size: 20px;
    margin-left: 42%;
    margin-top: -3%;
}
#photom{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#slider {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#slide1, #slide2, #slide3, #slide4 {
    position: absolute;
    top: 0;
    left: 0;
}

#slide2, #slide3, #slide4 {
    display: none;
}

#precedent, #suivant {
    z-index: 1;
    transition: opacity 0.5s ease;
    font-size: 75px;
    font-weight: 100;
    position: absolute;
    top: 160px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(220, 220, 220, 0.6);
    opacity: 0;
    cursor: pointer;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent, #slider:hover #suivant {
    opacity: 1;
}